![openclassrooms](https://s3.eu-west-1.amazonaws.com/course.oc-static.com/courses/6204541/1+HnqdJ-5ofxiPP9HIxdNdpw.jpeg)

# Filtrez les données du dataframe

Nous allons à présent aller un peu plus loin dans la manipulation de nos prêts bancaires. Les demandes suivantes ont été formulées par le responsable du service prêt de notre établissement :
- Le taux d’endettement autorisé est de 35%. Pourriez vous me communiquer le nombre de personnes ayant dépassé ce seuil ?
- Même question, mais cette fois ci uniquement sur l’agence Parisienne
- Pour faciliter le traitement d’éventuelles futures demandes de prêts, pourriez vous ajouter une variable nommée `risque` qui nous permettrait d’identifier les clients risqués facilement
- Combien de prêts automobiles ont été accordés ? Quel est le coût total moyen de ces derniers ?
- Quel est le bénéfice mensuel total réalisé par l’agence Toulousaine ?

Vous allez devoir mettre en application l’ensemble des processus de sélection présentés ci-dessus pour répondre à ces différentes demandes.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# traitement réalisés précédemment
prets = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/main/data/prets.csv')

# calcul du taux d'endettement
prets['taux_endettement'] = round(prets['remboursement'] * 100 / prets['revenu'], 2)

# renommer taux en taux_interet
prets.rename(columns={'taux':'taux_interet'}, inplace=True)

# calculer le cout total du pret
prets['cout_total'] = prets['remboursement'] * prets['duree']

# calculer les bénéfices mensuels réalisés
prets['benefices'] = round((prets['cout_total'] * prets['taux_interet']/100)/(24), 2)

prets.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0,131.99
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,23.69
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0,182.97
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6,53.71
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4,44.57

Le taux d’endettement autorisé est de 35%. Pourriez vous me communiquer le nombre de personnes ayant dépassé ce seuil ? vous pourrez me stocker la liste dans une variable à part nommé `clients_risque`

In [4]:
nombre_client_risque = prets.loc[prets['taux_endettement'] > 35, :].shape[0]
print('Il y a', nombre_client_risque, 'clients qui ont dépassé le seuil autorisé')

Il y a 58 clients qui ont dépassé le seuil autorisé

*Pour expliquer rapidement cette ligne de code :*
- *dans un premier temps nous utilisons la fonction .loc, pour sélectionner l'ensemble des lignes dont le taux d'endettement est supérieur à 35%*
- *nous utilisons ensuite la méthode `.shape` pour calculer le nombre de clients concernés*

Même question, mais cette fois ci uniquement sur l’agence Parisienne

In [5]:
nombre_client_risque = prets.loc[(prets['taux_endettement'] > 35) & (prets['ville'] == 'PARIS'), :].shape[0]
print('Il y a', nombre_client_risque, "clients qui ont dépassé le seuil autorisé à l'agence Parisienne")

Il y a 16 clients qui ont dépassé le seuil autorisé à l'agence Parisienne

Pour faciliter le traitement d’éventuelles futures demandes de prêts, pourriez vous ajouter une variable nommée `risque` qui aurait pour valeur `Oui` si le client est risqué (taux d’endettement > 35%), `Non` sinon.
Pour se faire, je vous conseille de créer la variable `risque` en l'initialisant à `Non` (ou `Oui`, à votre préférence) et de ne modifier que les lignes concernées par la valeur inverse :

In [4]:
prets['risque'] = 'Non'
prets.loc[prets['taux_endettement'] > 35, 'risque'] = 'Oui'

Combien de prêts automobiles ont été accordés ? Quel est le coût total moyen de ces derniers ?

In [5]:
prets_auto = prets.loc[prets['type'] == 'automobile', :]
print('Nous avons accordé', prets_auto.shape[0], 'prêts automobiles, dont le coût total moyen est de',
      prets_auto['cout_total'].mean(), '€')

Nous avons accordé 16 prêts automobiles, dont le coût total moyen est de 13665.0 €

*Pour expliquer rapidement ces lignes de code :*
- *nous opérons une sélection sur les prêts étant de type automobile. Le résultat de cette sélection est stocké dans un dataframe nommé `prets_auto`*
- *nous utilisons la méthode `.shape` comme précédemment pour déterminer le nombre de prêts concernés*
- *nous calculons ensuite la moyenne de la variable `cout_total` de ce dataframe nouvellement créé*

Quel est le bénéfice mensuel total réalisé par l’agence Toulousaine ?

In [8]:
prets.loc[prets['ville'] == 'TOULOUSE', 'benefices'].sum()

np.float64(2138.0699999999997)

In [9]:
prets['ville'].value_counts()

ville
PARIS        77
MARSEILLE    75
LYON         28
TOULOUSE     27
NICE         21
BORDEAUX     16
Name: count, dtype: int64

In [6]:
Table_pret_pourc= prets['ville'].value_counts(normalize=True)*100
Table_pret_pourc['Total'] = Table_pret_pourc.sum()
Table_pret_pourc

ville
PARIS         31.557377
MARSEILLE     30.737705
LYON          11.475410
TOULOUSE      11.065574
NICE           8.606557
BORDEAUX       6.557377
Total        100.000000
Name: proportion, dtype: float64

In [ ]:
prets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   identifiant       244 non-null    int64
 1   ville             244 non-null    object
 2   CP                244 non-null    int64
 3   revenu            244 non-null    float64
 4   remboursement     244 non-null    float64
 5   duree             244 non-null    int64
 6   type              244 non-null    object
 7   taux_interet      244 non-null    float64
 8   taux_endettement  244 non-null    float64
 9   cout_total        244 non-null    float64
 10  benefices         244 non-null    float64
 11  Risque            244 non-null    object
dtypes: float64(6), int64(3), object(3)
memory usage: 23.0+ KB

In [ ]:
table_prets= pd.crosstab(prets['ville'], columns='Effectif',margins=True, margins_name= 'Total')
table_prets = table_prets.iloc[:, 0]
table_prets

ville
BORDEAUX      16
LYON          28
MARSEILLE     75
NICE          21
PARIS         77
TOULOUSE      27
Total        244
Name: Effectif, dtype: int64

In [ ]:
# Simple et direct - évite complètement la duplication
counts = prets['ville'].value_counts()
counts['Total'] = counts.sum()
counts

ville
PARIS         77
MARSEILLE     75
LYON          28
TOULOUSE      27
NICE          21
BORDEAUX      16
Total        244
Name: count, dtype: int64

In [10]:
prets.groupby('ville').sum()

,identifiant,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices,risque
ville,,,,,,,,,,,
BORDEAUX,1718,531800,50816.0,15330.59,3660,immobilierimmobilierimmobilierimmobilierimmobi...,18.767,496.90,3441385.2,1681.32,NonNonNonNonNonNonOuiNonNonNonOuiNonOuiNonOuiOui
LYON,2833,1932134,95354.0,26064.67,6251,immobilierimmobilierimmobilierimmobilierimmobi...,38.918,791.78,6199332.2,3014.80,OuiOuiNonNonOuiOuiNonNonNonNonNonNonNonOuiNonN...
MARSEILLE,7946,975732,145926.0,40895.72,16420,immobilierimmobilierimmobilierimmobilierimmobi...,92.538,2123.32,9109388.4,4395.91,NonNonNonOuiNonNonNonNonOuiOuiNonNonNonNonNonO...
NICE,2375,129100,85288.0,23544.24,4460,immobilierimmobilierimmobilierimmobilierimmobi...,27.706,572.33,5559354.6,2682.75,OuiNonOuiNonNonNonNonNonNonNonNonNonNonOuiNonN...
PARIS,9849,5776019,335459.0,94052.61,16686,automobileimmobilierimmobilierimmobilierimmobi...,100.073,2114.75,20813944.4,10016.35,NonNonNonNonNonNonNonNonNonNonNonNonNonNonNonN...
TOULOUSE,3162,843300,75617.0,19286.18,5643,immobilierimmobilierimmobilierimmobilierimmobi...,38.217,697.53,4256987.0,2138.07,NonOuiNonNonOuiNonNonNonOuiNonNonNonNonNonNonN...

In [11]:
prets.groupby(['ville', 'type']).sum()

                      identifiant       CP    revenu  remboursement  duree  \
ville     type
BORDEAUX  immobilier         1718   531800   50816.0       15330.59   3660
LYON      automobile          360   207018   11531.0         788.80    131
          immobilier         2473  1725116   83823.0       25275.87   6120
MARSEILLE automobile          404    39031    5842.0         839.60    160
          immobilier         7542   936701  140084.0       40056.12  16260
NICE      automobile          187    12300    7607.0         612.80     80
          immobilier         2188   116800   77681.0       22931.44   4380
PARIS     automobile          612   375054   22834.0        1426.60    246
          immobilier         9237  5400965  312625.0       92626.01  16440
TOULOUSE  automobile          442    93400    7803.0         718.80    183
          immobilier         2720   749900   67814.0       18567.38   5460

                      taux_interet  taux_endettement  cout_total  benefices  \
ville     type
BORDEAUX  immobilier        18.767            496.90   3441385.2    1681.32
LYON      automobile        10.083             23.68     33796.4      47.39
          immobilier        28.835            768.10   6165535.8    2967.41
MARSEILLE automobile         9.535             46.02     46145.4      61.36
          immobilier        83.003           2077.30   9063243.0    4334.55
NICE      automobile         6.104             16.23     24624.0      31.15
          immobilier        21.602            556.10   5534730.6    2651.60
PARIS     automobile        17.271             33.95     69591.2      99.50
          immobilier        82.802           2080.80  20744353.2    9916.85
TOULOUSE  automobile         9.868             30.63     44483.0      61.22
          immobilier        28.349            666.90   4212504.0    2076.85

                                                                 risque
ville     type
BORDEAUX  immobilier   NonNonNonNonNonNonOuiNonNonNonOuiNonOuiNonOuiOui
LYON      automobile                                          NonNonNon
          immobilier  OuiOuiNonNonOuiOuiNonNonNonNonNonNonOuiNonNonO...
MARSEILLE automobile                                          NonNonNon
          immobilier  NonNonNonOuiNonNonNonNonOuiOuiNonNonNonNonNonO...
NICE      automobile                                             NonNon
          immobilier  OuiNonOuiNonNonNonNonNonNonNonNonOuiNonNonNonN...
PARIS     automobile                                    NonNonNonNonNon
          immobilier  NonNonNonNonNonNonNonNonNonNonNonNonNonNonNonO...
TOULOUSE  automobile                                          NonNonNon
          immobilier  NonOuiNonNonOuiNonNonNonOuiNonNonNonNonNonNonN...

In [12]:
prets.groupby(['ville', 'type'])['remboursement'].sum()

ville      type
BORDEAUX   immobilier    15330.59
LYON       automobile      788.80
           immobilier    25275.87
MARSEILLE  automobile      839.60
           immobilier    40056.12
NICE       automobile      612.80
           immobilier    22931.44
PARIS      automobile     1426.60
           immobilier    92626.01
TOULOUSE   automobile      718.80
           immobilier    18567.38
Name: remboursement, dtype: float64

In [17]:
prets.groupby('ville').agg({'remboursement': ['sum', 'mean'],
    'revenu': ['max','min']})

          remboursement               revenu
                    sum         mean     max     min
ville
BORDEAUX       15330.59   958.161875  3691.0  2239.0
LYON           26064.67   930.881071  4771.0  1867.0
MARSEILLE      40895.72   545.276267  2962.0  1200.0
NICE           23544.24  1121.154286  5987.0  2433.0
PARIS          94052.61  1221.462468  6807.0  1851.0
TOULOUSE       19286.18   714.302963  3993.0  1529.0

In [20]:
data= prets.pivot_table(index= 'ville', columns= 'type', values= 'remboursement', aggfunc= 'sum')
data

type       automobile  immobilier
ville
BORDEAUX          NaN    15330.59
LYON            788.8    25275.87
MARSEILLE       839.6    40056.12
NICE            612.8    22931.44
PARIS          1426.6    92626.01
TOULOUSE        718.8    18567.38

In [22]:
data= data.reset_index()
data

type  index      ville  automobile  immobilier
0         0   BORDEAUX         NaN    15330.59
1         1       LYON       788.8    25275.87
2         2  MARSEILLE       839.6    40056.12
3         3       NICE       612.8    22931.44
4         4      PARIS      1426.6    92626.01
5         5   TOULOUSE       718.8    18567.38

In [25]:
data.melt (id_vars= 'ville', value_vars = ['automobile', 'immobilier'])

        ville        type     value
0    BORDEAUX  automobile       NaN
1        LYON  automobile    788.80
2   MARSEILLE  automobile    839.60
3        NICE  automobile    612.80
4       PARIS  automobile   1426.60
5    TOULOUSE  automobile    718.80
6    BORDEAUX  immobilier  15330.59
7        LYON  immobilier  25275.87
8   MARSEILLE  immobilier  40056.12
9        NICE  immobilier  22931.44
10      PARIS  immobilier  92626.01
11   TOULOUSE  immobilier  18567.38

In [7]:
prets.describe()

,identifiant,CP,revenu,remboursement,duree,taux_interet,taux_endettement,cout_total,benefices
count,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,114.274590,41754.446721,3231.393443,898.254139,217.704918,1.295980,27.854959,202378.654918,98.070492
std,65.444935,28596.177220,1464.896418,596.421485,64.671145,0.541555,11.053319,146931.049983,69.829476
min,0.000000,6000.000000,1200.000000,199.640000,24.000000,0.919000,4.520000,5955.000000,8.490000
25%,59.750000,13011.000000,2104.500000,461.215000,180.000000,1.107750,19.025000,104166.600000,51.015000
50%,114.500000,31500.000000,2863.000000,763.940000,240.000000,1.166000,27.000000,165788.400000,82.365000
75%,169.250000,75005.000000,4092.750000,1131.735000,240.000000,1.215000,34.800000,264103.800000,125.797500
max,227.000000,75116.000000,6807.000000,3744.770000,300.000000,3.701000,57.300000,887085.000000,437.630000

In [8]:
prets['ville'].nunique()

6

In [9]:
prets['ville'].unique()

array(['TOULOUSE', 'PARIS', 'MARSEILLE', 'LYON', 'NICE', 'BORDEAUX'],
      dtype=object)

In [12]:
prets['revenu'].nlargest()

137    6807.0
186    6784.0
83     6783.0
129    6536.0
206    6490.0
Name: revenu, dtype: float64

In [13]:
prets['revenu'].nsmallest(5)

144    1200.0
61     1201.0
230    1266.0
157    1288.0
158    1288.0
Name: revenu, dtype: float64

In [14]:
prets.nlargest(5, ['revenu', 'age'])

KeyError: 'age'